<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings>
	<add 
		name="ApplicationDBContext" 
		connectionString="Server=(local)\DANEB;Database=Diary;User Id=sa;Password=Promet0001" 
		providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>